body {
    background-color: rgb(75, 75, 75);
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

input {
    width: 50px;
    min-height: auto;
    max-height: 50px;
    display: flex;
    margin-left: auto;
}

div {
    width: 300px;
    display: flex;
    flex-direction: row;
}
